@font-face {
  font-style: normal;
  font-weight: 300 800;
  src: url('/fonts/shantell-sans.woff2') format('woff2');
  font-family: 'Shantell Sans';
  font-display: swap;
}

html,
body {
  line-height: var(--leading-base);
  font-family: 'Shantell Sans', sans-serif;
}

h1 {
  margin: 0 0 var(--space-m);
  font-size: var(--font-size-2xl);
  line-height: var(--leading-tight);
  font-variation-settings: 'BNCE' -40, 'INFM' 50;
}

h2 {
  margin: var(--space-l) 0 var(--space-m);
  font-size: var(--font-size-xl);
  line-height: var(--leading-tight);
  font-variation-settings: 'BNCE' -30, 'INFM' 40;
}

h3 {
  margin: var(--space-m) 0 var(--space-s);
  font-size: var(--font-size-l);
  line-height: var(--leading-tight);
  font-variation-settings: 'BNCE' -20, 'INFM' 30;
}

p,
blockquote {
  margin: var(--space-s) 0 var(--space-xs);
  font-size: var(--font-size-m);
}

sup {
  font-size: var(--font-size-s);
  word-break: break-all;
}
