---
import { getCollection } from 'astro:content'
import Layout from '../components/Layout.astro'

const notes = await getCollection('notes')
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <ul>
    {notes.map(note => <li><a href={`/${note.id}`}>{note.data.title}</a></li>)}
  </ul>
</Layout>
