---
import { getCollection } from 'astro:content'
import Layout from '../components/Layout.astro'

const notes = await getCollection('notes')
---

<Layout>
  <div class='banner'>
    <img class='chibi' src='chibi.webp' alt='' height='200' width='197' />
    <h1 class='title'>I'm Sacha<sup>(they/any)</sup></h1>
  </div>
  <p class='description'>
    Here should be some desccription for this small internet place.
    And hopefully a better navigation.
  </p>
  <ul>
    {notes.map(note => <li><a href={`/${note.id}`}>{note.data.title}</a></li>)}
  </ul>
  <p class="credits">
    Scrungly chibi by <a href='https://bsky.app/profile/acidicchoco.bsky.social' target='_blank'>@acidicchoco</a>
  </p>
</Layout>

<style>
.chibi {
  height: auto;
  margin: 0 auto var(--space-s);
}

.title {
  text-align: center;
}

.credits {
  text-align: center;
  font-size: var(--font-size-s);
}
</style>
