@font-face {
  font-family: 'Excon';
  src:
    url(~/assets/fonts/excon.woff2) format('woff2'),
    url(~/assets/fonts/excon.woff) format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Pally';
  src:
    url(~/assets/fonts/pally.woff2) format('woff2'),
    url(~/assets/fonts/pally.woff) format('woff');
  font-display: block;
}
