:root {
  --font-size-base: 16px;
  --font-family-base: Lexend, sans-serif;
  --font-family-heading: Quicksand, sans-serif;

  /* minor third typescale */
  --font-size-sm: 0.83rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.44rem;
  --font-size-2xl: 1.73rem;
  --font-size-3xl: 2.07rem;
  --font-size-4xl: 2.49rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* 4pt-grid spacings */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;

  --width-site: 45em;
  --width-content: 45em;

  --transition: 0.2s ease;

  --color-background: #fff8f0;
  --color-text: #382e37;
  --color-accent: #9e0035;

  &.dark-mode {
    --color-background: #171317;
    --color-text: #d1c7d0;
    --color-accent: #f078ae;
  }
}
